extends ../layouts/base

block contenido
  h2 Listado de Productos

  if productos.length === 0
    p No hay productos registrados.
  else
    table
      thead
        tr
          th Nombre
          th Stock
          th Precio
          th Unidad
          th Lote
          th Vencimiento
          th Estado
          th ⚠️
          th Detalle
      tbody
        each p in productos
          tr
            td #{p.nombre}
            td #{p.stock}
            td $#{p.precio}
            td #{p.unidad}
            td #{p.lote}
            td #{p.vencimiento ? new Date(p.vencimiento).toLocaleDateString('es-AR') : '-'}
            td #{p.estado}
            td #{p.stockBajo ? '🔴 Stock bajo' : ''}
            td
              a(href=`/productos/${p._id}`) Ver detalle
